:root {
    --primary-color: #1a3d60;
    --secondary-color: #89c1ff;
    --accent-color: #ff6f61;
    --background-color: #f5f5f5;
    --text-color: #333333;
    --max-width: calc(100vw - 16px);
    width: 100vw;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Playfair Display", serif;
    background-color: var(--background-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  h1 {
    font-size: 32px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: var(--max-width);
    margin: 0;
    padding: 12px 8px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    color: var(--text-color);
    font-family: "Playfair Display", serif;
  }
  
  p {
    font-size: 16px;
    color: var(--text-color);
    font-family: "Playfair Display", serif;
  }
  
  .inputs {
    display: flex;
    justify-content: space-around;
    width: var(--max-width);
    padding: 0 8px;
  }
  
  .input {
    display: grid;
    font-family: "Nanum Gothic", sans-serif;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      ". title"
      ". length"
      "x width"
      ". line"
      ". area";
    flex-direction: column;
    align-items: center;
  }
  
  .input > h2 {
    grid-area: title;
  }
  
  .input > label {
    font-size: 16px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
  }
  
  .input > .length {
    grid-area: length;
  }
  
  .input > .width {
    grid-area: width;
  }
  
  .input > .x {
    grid-area: x;
    font-size: 16px;
    color: var(--text-color);
    transform: translate(9px, 9px);
  }
  
  .input > hr {
    grid-area: line;
    width: 100%;
    background-color: var(--text-color);
  }
  
  .input > .area {
    grid-area: area;
    font-family: "Nanum Gothic", sans-serif;
    height: 32px;
    padding: 0 4px;
    border: solid var(--text-color) 2px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 8px 0;
  }
  
  input {
    padding: 10px;
    margin: 10px 0;
    display: block;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .results {
    display: grid;
    grid-template-columns: 1fr 16px 1fr 16px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "diff-label v1 diff-percent-label v2 change-label"
      "diff       v1 diff-percent       v2 change";
    width: 100%;
    padding: 0 8px 0 8px;
    background-color: var(--accent-color);
    color: var(--background-color);
    margin: 16px 0;
    width: var(--max-width);
  }
  
  
  
  #diff-label { grid-area: diff-label; }
  #v1 { grid-area: v1; }
  #diff-percent-label { grid-area: diff-percent-label; }
  #v2 { grid-area: v2; }
  #change-label { grid-area: change-label; }
  #diff { grid-area: diff; }
  #diff-percent { grid-area: diff-percent; }
  #change { grid-area: change; }
  
  .results > h3 {
      margin: 8px 16px;
  }
  
  .results > .number {
      margin: 8px 8px;
  }
  
  .vertical {
      width: 2px;
      height: 80%;
      align-self: center;
      background-color: var(--background-color);
      margin: 0;
    }
  
  .results > h3 {
    font-size: 18px;
  }
  
  .results > p {
    text-align: right;
    color: var(--background-color);
  }
  
  .number {
    font-family: "Nanum Gothic", sans-serif;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
  }
  