:root {
    --primary-color: #197E83;
    --secondary-color: #7ad2d6;
    --accent-color: #66254A;
    --background-color: #EDE5EF;
    --text-color: #333333;
    --max-width: calc(100vw - 16px);
    width: 100vw;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Playfair Display", serif;
    background-color: var(--background-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  h1 {
    font-size: 32px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: var(--max-width);
    margin: 0;
    padding: 12px 8px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    color: var(--text-color);
    font-family: "Playfair Display", serif;
  }
  
  p {
    font-size: 16px;
    color: var(--text-color);
    font-family: "Playfair Display", serif;
  }
  
  .inputs {
    display: flex;
    flex-direction: column;
    width: var(--max-width);
  }

  .inputs > *:first-child {
    margin-top: 8px;
  }
  
  .input {
    display: grid;
    font-family: "Nanum Gothic", sans-serif;
    grid-template-columns: 100px 16px 100px 16px 100px;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title title title title title"
      "length-label . width-label . area-label"
      "length x width equals area";
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .input > h2 {
    grid-area: title;
    margin: 0 0 4px 0;
  }
  
  .input > label {
    font-size: 16px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
  }
  
  .input > .length-label {
    grid-area: length-label;
  }

  .input > .length {
    grid-area: length;
  }
    
  .input > .width-label {
    grid-area: width-label;
  }

  .input > .width {
    grid-area: width;
  }
  
  .input > .x {
    grid-area: x;
    font-size: 16px;
    color: var(--text-color);
  }

  .input > .equals {
    grid-area: equals;
  }

  .input > .area-label {
    grid-area: area-label;
    padding: 0 4px;
  }
  
  .input > .area {
    grid-area: area;
    padding: 0 4px;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
    margin: 10px 0;
    max-width: 100px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    min-height: 40px;
  }
  
  input {
    padding: 10px;
    margin: 10px 0;
    max-width: 100px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .results {
    display: grid;
    grid-template-columns: 1fr 16px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "diff-label v1 change-label"
      "diff       v1 change";
    width: 100%;
    padding: 0 8px 0 8px;
    background-color: var(--accent-color);
    color: var(--background-color);
    margin: 16px 0;
    width: var(--max-width);
  }
  
  
  
  #diff-label { grid-area: diff-label; }
  #v1 { grid-area: v1; }
  #diff-percent-label { grid-area: diff-percent-label; }
  #v2 { grid-area: v2; }
  #change-label { grid-area: change-label; }
  #diff { grid-area: diff; }
  #diff-percent { grid-area: diff-percent; }
  #change { grid-area: change; }
  
  .results > .number {
      margin: 8px 8px;
      font-size: 24px;
  }
  
  .vertical {
      width: 2px;
      height: 80%;
      align-self: center;
      background-color: var(--background-color);
      margin: 0;
    }
  
  .results > h3 {
    margin: 8px 16px;
    font-size: 24px;
  }
  
  .results > p {
    text-align: right;
    color: var(--background-color);
  }
  
  .number {
    font-family: "Nanum Gothic", sans-serif;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
  }
  